<div class="container">
  <div class="row">
      <div class="panel panel-default">
            <h1>Your Ticket</h1>        
            <ul>
                <li>
                  <a href ="">
                    <tr>
                       <td class="col-xs-8">Bus Number: {{busNum}}</td>  <br>
                       <td class="col-xs-8">PNR: {{pnr}}</td><br>
                       <td class="col-xs-8">Price: {{price}}</td>
                    </tr>
                  </a>
                </li>
            </ul>
           
            
          </tbody>
        </table>
      </div>
  </div>
</div>