<div class="container">
  <div class="row">
      <div class="panel panel-default">
        

            <p>You have selected this bus:</p>
           
              
            <ul>
                <li>
                  <a href = "">
                    <tr>
                       <td class="col-xs-8">{{bus.rate}}</td>  
                       <td class="col-xs-8">{{bus.arrivalTime}}</td>
                       <td class="col-xs-8">{{bus.departureTime}}</td>
                       <td class="col-xs-8">{{bus.busNum}}</td>
                    </tr>
                  </a>
                </li>
            </ul>
           
            
          </tbody>
        </table>
      </div>
  </div>
  <a href="/BusManage/numpassenger">
  <button type="submit" >Proceed</button>
  </a>
</div>